section:first-child() h4:nth-child(1) {
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

/* 1ere SECTION,   H4, 3EME TRUC */
h4:nth-child(3){
    color: blue;
}

/* 2EME SECTION */
section:nth-child(2){
    border-bottom: 5px solid red;
}


/* 3EME SECTION */
section:nth-child(3) h3, section:nth-child(3) ul {
    color: red;
}


/* EXO 4 */
/* 4EME SECTION */
section:nth-child(4) li:nth-child(2)    {
    font-size: 25px;
}

/* EXO 5 */
section:nth-child(5) p~span {
    color: blue;
}

/* EXO 6 */
/* section:nth-child(6) img {
    border-radius: 1px 50% black;
    border: 1px solid black;
} */
img[src] {
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

section:nth-child(7) :hover {
    background-color: green;
}